<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs4080.reminder" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/reminder"
        android:label="The Planner"
        android:roundIcon="@mipmap/reminder"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewReminderActivity"></activity>
        <activity android:name=".EditReminderActivity"></activity>
    </application>

</manifest>